@model GanaderiaLasDelicias.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header">
        <h3>Editar pago</h3>
    </div>


    <hr />
    <div class="row" style="margin-left: 1%;">
        <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PayId" />
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ccss" class="control-label"></label>
                <input asp-for="Ccss" class="form-control" />
                <span asp-validation-for="Ccss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>
@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
