@model GanaderiaLasDelicias.Models.HealthRecord

<h2>Crear Registro de Salud</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CowId" class="control-label">Nombre de la Vaca</label>
        <select asp-for="CowId" class="form-control" asp-items="@(new SelectList(ViewBag.HerdList, "CowId", "Name"))"></select>
        <span asp-validation-for="CowId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HealthStatus" class="control-label">Estado de Salud</label>
        <input asp-for="HealthStatus" class="form-control" />
        <span asp-validation-for="HealthStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Treatment" class="control-label">Tratamiento</label>
        <input asp-for="Treatment" class="form-control" />
        <span asp-validation-for="Treatment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrescribedMedication" class="control-label">Medicación Prescrita</label>
        <input asp-for="PrescribedMedication" class="form-control" />
        <span asp-validation-for="PrescribedMedication" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dose" class="control-label">Dosis</label>
        <input asp-for="Dose" class="form-control" />
        <span asp-validation-for="Dose" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Frequency" class="control-label">Frecuencia</label>
        <input asp-for="Frequency" class="form-control" />
        <span asp-validation-for="Frequency" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiagnosisDate" class="control-label">Fecha de Diagnóstico</label>
        <input asp-for="DiagnosisDate" class="form-control" />
        <span asp-validation-for="DiagnosisDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StateChangeDate" class="control-label">Fecha de Cambio de Estado</label>
        <input asp-for="StateChangeDate" class="form-control" />
        <span asp-validation-for="StateChangeDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CheckupDate" class="control-label">Fecha de Chequeo</label>
        <input asp-for="CheckupDate" class="form-control" />
        <span asp-validation-for="CheckupDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VaccinationDate" class="control-label">Fecha de Vacunación</label>
        <input asp-for="VaccinationDate" class="form-control" />
        <span asp-validation-for="VaccinationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>
