@model GanaderiaLasDelicias.Models.Feeding

<h2>Detalles</h2>

<div>
    <h4>Alimentación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre de la Vaca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.Cow.Name)
        </dd>
        <dt class="col-sm-2">
            Suplemento Consumido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplementConsumed)
        </dd>
        <dt class="col-sm-2">
            Horas de Pastoreo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrazingHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeedingId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Atrás</a>
</div>
