<!-- En la carpeta Views/Cesantia/Index.cshtml -->
@model GanaderiaLasDelicias.Models.Severance;

<h2>Calcular Cesantía</h2>

<form asp-actio6n="Calculate" method="post">
    <div class="form-group">
        <label for="YearsWorked">Años Trabajados:</label>
        <input type="number" asp-for="YearsWorked" class="form-control" />
    </div>
    <div class="form-group">
        <label for="FinalSalary">Salario Final:</label>
        <input type="number" step="0.01" asp-for="FinalSalary" class="form-control" />
    </div>
    <div class="form-group">
        <label for="GaveNotice">¿Preaviso?</label>
        <br /><p></p>
        <input type="checkbox" asp-for="GaveNotice" class="form-check-input" />
    </div>
    <button type="submit" class="btn btn-primary">Calcular</button>
</form>

@if (Model.Cesantia != 0)
{
    <h3>Cesantía: @Model.Cesantia</h3>
}
