@model GanaderiaLasDelicias.Models.AspNetUser

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Detalles de Usuario</h3>
        </div>
        <div ="card-body">

            <hr />
            <dl class="row" style="margin-left: 1%;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
</div>
<div>

    <a asp-action="Index">Regresar</a>
</div>
